.user-menu {
    .notification-badge {
        color: var(--secondary);
        background-color: var(--tertiary-medium);
        font-size: 12px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        padding: 2px 2px;
        line-height: 15px;
        top: -10px;
        right: 0;
        position: relative;
    }
}